<div class="card mb-3">
  <h2 class="card-header h4">
    Saved Place #<%= saved_place.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Place</dt>
      <dd>
        <% if @saved_place.place.present? %>
          <%= link_to saved_place.place, saved_place.place %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @saved_place.user.present? %>
          <%= link_to saved_place.user, saved_place.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back saved_place, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_saved_place_url(saved_place), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to saved_place, method: :delete, data: { confirm: "Do you really want to delete this saved_place?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(saved_place.updated_at) %> ago
  </div>
</div>
