<div class="card mb-3">
  <h2 class="card-header h4">
    Visit #<%= visit.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @visit.user.present? %>
          <%= link_to visit.user, visit.user %>
        <% end %>
      </dd>

      <dt>Location</dt>
      <dd>
        <% if @visit.location.present? %>
          <%= link_to visit.location, visit.location %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back visit, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_visit_url(visit), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to visit, method: :delete, data: { confirm: "Do you really want to delete this visit?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(visit.updated_at) %> ago
  </div>
</div>
