<%= form_with(model: @saved_place, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :place_id %>

    <%= f.collection_select :place_id, Place.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create saved place", class: "btn btn-block btn-outline-secondary" %>
<% end %>
