<!-- Form saved_place start -->
<%= form_with(model: @saved_place, local: true) do |f| %>
<!-- Form saved_place end -->

  <!-- Label and input for place_id start -->
  <div class="form-group">
    <%= f.label :place_id %>

    <!-- Input for place_id start -->
    <%= f.collection_select :place_id, Place.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for place_id end -->
  </div>
  <!-- Label and input for place_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <%= f.hidden_field :user_id, value: @user.id %>
  <!-- Input for user_id end -->
  <!-- Label and input for user_id end -->

  <%= f.submit "Create saved place", class: "btn btn-block btn-outline-secondary" %>
<% end %>
