<!-- Form note start -->
<%= form_with(model: @note, local: true) do |f| %>
<!-- Form note end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for place_id start -->
  <!-- Input for place_id start -->
  <%= f.hidden_field :place_id, value: @place.id %>
  <!-- Input for place_id end -->
  <!-- Label and input for place_id end -->

  <%= f.submit "Create note", class: "btn btn-block btn-outline-secondary" %>
<% end %>
